@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --cards-grid-gap: 1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #d7e3ee;
    color: rgb(12, 15, 18);
}

h1 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: min(95%, 450px);
    gap: 0.5rem;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 4px;
}

input {
    height: 40px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

input[type="text"] {
    border: 1px solid #dce4ec;
}

input[type="text"]:focus { 
    outline: none;
    border-color: #509ad4;
    border-width: 2px;
}


input[type="submit"] {
    background-color: #294368;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3e5677;
}

label {
    font-size: 0.875rem;
}

.items {
    display: flex;
    gap: var(--cards-grid-gap);
    flex-wrap: wrap;
    width: min(100%, 1200px);
}

.item {
    aspect-ratio: 2 / 3;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    text-align: center;
    border-radius: 4px;
    background-color: #ffffff;
}

.item h2 {
    font-size: 1rem;
}

.item p {
    font-size: 1.5rem;
    font-weight: 600;
}

.item button {
    width: max-content;
    background-color: #171a21;
    font-family: inherit;
    margin-inline: auto;
    border-radius: 4px;
    border: none;
}

.item a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: #eef;
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.item__img {
    position: relative;
    display: flex;
    justify-content: center;
}

.item__img img {
    width: 75%;
}

.item__amount {
    font-size: 1.125rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
}

.item__tags {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.item__tags span {
    background-color: #e0e0e0;
    border-radius: 999px;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
}







/* ---------- RESPONSIVE ---------- */
@media only screen and (min-width : 481px) {
    .item {
        width: calc((100% - var(--cards-grid-gap)) / 2);
    }
}

/* -------- Tablet -------- */
@media only screen and (min-width : 769px) {

    .item {
        width: calc((100% - 2* var(--cards-grid-gap)) / 3);
    }
}

/* -------- Desktop -------- */
@media only screen and (min-width : 1025px) {



    .item {
        width: calc((100% - 3* var(--cards-grid-gap)) / 4);
    }



}