@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --cards-grid-gap: 1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #d7e3ee;
    color: rgb(12, 15, 18);
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    width: min(95%, 450px);
    gap: 0.5rem;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 4px;
}

form h1 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

input {
    height: 40px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

input[type="text"] {
    border: 1px solid #dce4ec;
}

input[type="text"]:focus {
    outline: none;
    border-color: #509ad4;
    border-width: 2px;
}


input[type="submit"] {
    background-color: #294368;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type="submit"]:hover {
    background-color: #213653;
}

label {
    font-size: 0.875rem;
}

main {
    width: min(95%, 1200px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 2rem;
}

select {
    font-family: inherit;
    border-radius: 4px;
    background-color: #ebf1f7;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    /* transition: 0.3s ease; */
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #c2ccd6;
}

select option {
    color: rgb(12, 15, 18);
}

.items {
    display: flex;
    gap: var(--cards-grid-gap);
    flex-wrap: wrap;
}

.item {
    aspect-ratio: 2 / 3;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    text-align: center;
    border-radius: 4px;
    background-color: #ebf1f7;
}

.item h2 {
    font-size: 1rem;
}

.item p {
    font-size: 1.5rem;
    font-weight: 600;
}

.item button {
    width: max-content;
    background-color: #294368;
    font-family: inherit;
    margin-inline: auto;
    border-radius: 4px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.item button:hover {
    background-color: #213653;
}

.item a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: #eef;
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.item__img {
    position: relative;
    display: flex;
    justify-content: center;
}

.item__img img {
    width: 75%;
    transition: 250ms;
}

.item__img img:hover {
    transform: scale(1.1);
}

.item__amount {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    background-color: #4c6a8a;
    transform: rotateZ(10deg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 0 3px rgba(80, 154, 212, .5);
    z-index: 1000;
}

.item__tags {
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.item__tags span {
    background-color: #d7e3ee;
    border-radius: 999px;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
}

.sort {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.25rem;
}





/* ---------- RESPONSIVE ---------- */
@media only screen and (min-width : 481px) {
    .item {
        width: calc((100% - var(--cards-grid-gap)) / 2);
    }
}

/* -------- Tablet -------- */
@media only screen and (min-width : 769px) {

    .item {
        width: calc((100% - 2* var(--cards-grid-gap)) / 3);
    }
}

/* -------- Desktop -------- */
@media only screen and (min-width : 1025px) {



    .item {
        width: calc((100% - 3* var(--cards-grid-gap)) / 4);
    }



}